* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  color: #fff;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
}

.contenedor {
  margin: auto;
  margin-top: 1em;
  text-align: center;
}

.container {
  margin-top: 1em;
}

.form-row {
  padding-top: 0.5em;
}

.form-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 1em;
}

.boton {
  display: flex;
  margin-top: 1em;
  text-align: center;
  flex-direction: column;
  align-items: center;
}