* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  color: #fff;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
}

.contenedor {
  margin: auto;
  margin-top: 20%;
  text-align: center;
}